.content{
  width: 100%;
  padding: 20px;
  flex: 1 1 auto;
}
.descr_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  }
  .inputWrapper{
    position: relative; 
  }
  .search {
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 35px;
    height: 35px;
  }
  input{
    border: 1px solid #9B9B9B;
    border-radius: 10px;
    padding: 15px 15px 15px 45px;
    &::placeholder{
      color: #9B9B9B;
      font-size: 14px;
    }
  }
}
.cardsList{
  // outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;

  @media(max-width: 425px) {
    justify-content: center;
  }

  li{
   width: calc(25% - 10px);
   margin: 10px 10px 10px 0;

   @media(max-width: 768px) {
    width: calc(50% - 10px);
   }
   @media(max-width: 425px) {
    width: 90%;
   }
  }
}

.fawWrapper{
  h2{
    text-align: center;
    margin: 20px 0;
  }
}