.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  background: #FFFFFF;
  border: 1px solid #d7d7d7;
  border-radius: 40px; 
}
.heartWrapper{
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 30px;
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

.plusWrapper{
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 32px;
  height: 32px;
  border-radius: 10px;

}

.wrapper,
.heartWrapper,
.plusWrapper{
  cursor: pointer;
  transition: all 250ms ease-in-out;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);

      .shoeImg{
        transform: rotate3d(1, 1, 1, -10deg) scale(1.05);
        // transform: rotate(-10deg) scale(1.05);
      }
    }
}
.imgWrapper{
  padding: 0 10px;
  overflow: hidden;
}
.shoeImg,
.shoeDefImg{
  width: 133px;
  height: 112px;
  object-fit: contain;
  transition: all 250ms ease-in-out;
}
.shoeDefImg{
  filter: blur(2px);
}
.textName{
  font-size: 14px;
  line-height: 17px;
}
.textPrice{
  text-transform: uppercase;
  font-size: 11px;
  color: #828282;
  margin-top: 20px;
}
.price{
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}